// COLORS
$color-primary: #fff;
$color-boxes: #339bff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 200rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;


$header-width: 65vw;

$border-radius: 5rem;

$header-height: 12rem;