.row {
  max-width: $grid-width;
  margin: 0 auto;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;


    &:not(:last-child) {
      margin-right: $gutter-vertical;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    //width: calc((#{$header-width} - #{$gutter-horizontal}));
    height: 60vh;
    border-radius: $border-radius;
    background-color: $color-boxes;
    line-height: 60vh;
  }

  //.col-1-of-3 {
  //  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  //  background-color: $color-boxes;
  //}

}